@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face{
    font-family: Berliana;
    src: url(/assets/fonts/Berliana\lovely.otf);
}
:root{
    --header-height: 3.5rem;

 /* ----- color setting------*/
--first-color:yellow;
--first-color-alt: #e8a214;
--title-color: #efe6e6;
--text-color:rgb(123, 121, 121);
--body-color:black;
--container-color:dark rgb(43, 39, 39);
--white-color: #fff;

/*------fonts----------------*/
--text-font:"poppins",sans-serif;
--title-font: "ubuntu",sans-serif;
--biggest-font-size:1.5em;
--h1-font-size:1.5rem;
--h2-font-size:1.25rem;
--h3-font-size:1rem;
--normal-font-size:0.938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;
 

/*----font weight--*/
--font-lighter: 300;
--font-light: 400;
--font-medium: 500;
--font-semi-bold: 600;
--z-tooltip: 10;
--z-fixed: 100;
}

          
@media screen  and (max-width: 965px){
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    scroll-behavior: smooth;
}

body{
    
    font-family: var(--text-font);
    font-size: var(--normal-font-size) ;
    background-color: var(--body-color) ;
    color: var(--text-color);
}
h1,h2,h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    line-height: 1.4;
}
ul{
    list-style: none;
    font-family: var(--title-font) ;
}

a{
    text-decoration:none ;
    font-family: var(--title-font);
}
img{
    max-width: 100%;
    height: auto;

}
/*--------css for container----*/
.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section{
    padding: 4.5rem 0 2rem ;
}
.section_title{
    font-size: var(--h1-font-size);
    margin-bottom: 2.5rem;
    font-family: var(--title-font);
}
.subtitle{
    font-family: var(--smaller-font-size);
    color: var(--first-color);
    padding-left: 2rem;
    position: relative;
    display:grid;
    margin-bottom: 1.3rem;
}

.subtitle::before{
   
   position: absolute;
   top: 50%;
   left: 0;
   width: 20px;
   height: 2px ;
   background-color: var(--first-color);
}
.main{
    overflow: hidden;
}

/* ************NAVBAR************/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(65, 63, 63);
    background-color: transparent;
    z-index: var(--z-fixed);
}
.nav{
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
    display: flex;
}
.nav_logo,
.nav_toggle {
    color: var(--title-color);
    display: inline-flex;
    
}
.nav_logo{
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.nav_logo i {
    color:yellow;
    font-size: 1.25rem;
}
.nav_logo:hover {
    color:yellow;
}
.nav_toggle{
    font-size: 1.25rem;
    cursor: pointer;
}
@media screen and (max-width: 767px){
    .nav_menu {
        position: fixed;
        background-color: rgba(1, 7, 17, 0.1);
        top: 0;
        right:-100%;
        width: 100%;
        height: 100%;
        backdrop-filter:blur(96px);
        -webkit-backdrop-filter:blur(96px) ;
        transition: 0.3s;
    }
}
.nav_list{
    display: flex;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
    flex-direction: column;
}
.nav_link{
    color: #efe6e6;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.nav_link:hover{
    color: #e3c52c;
}
.nav_close {
    font-size: 2rem;
    color:white;
    position: absolute;
    top: 1rem;
    right: 1.15rem;
    cursor: pointer;
}
.download_link{
    font-size: var(--normal-font-size);
    padding: 1rem 2rem;
    background-color:yellow;
    border-radius: 50px;
    color: black;
}
.download_link:hover{

    background-color: #825b0ef2;
    color: var(--body-color);
}
.show-menu{
    right: 0;
}

/*  =======BODY SECTION==========*/
.home{
    padding-bottom: 0;
}

.home_container{
    padding-top: 4rem;
    row-gap: 3.5rem;
}

.home_title,
.home_value-number{
    color:var(--title-color);
}

.home_title{
    font-size: var(--biggest-font-size);
    line-height: 1.3;
    margin-bottom: 0.9rem;
    text-transform: capitalize;
}
.home_description{
    color: var(--text-color);
    margin-bottom: 2rem;

}
.home-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    color:var(--body-color);
    padding: .9rem 2rem;
    border-radius: 0.4rem 0 0.4rem 2rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}
.home-button:hover{
    background-color: var(--first-color-alt);
}
.home_value{
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}
.home_value-number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}
.home_value-number span {
    color: yellow;
}
.line-h{
    height: 50px;
    width: 2px;
    background-color: rgb(126, 133, 126);
}
/* --------ABOUT SECTION--------*/
.about_description{
    margin-bottom: 2rem;
}
.about_data-card {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 4rem;
}
.about_card {
    background-color:rgb(18, 18, 44);
    border-radius: 25px;
    padding: 1.2rem;
    overflow: hidden;
    position: relative;
   
    
}

.about_card img{
    border-radius: 15px;
    margin-bottom:0.5rem;
   
}
.about_card-title{
    font-size:20px;
} 
.about_card-des{
    font-size:18px;
}
.about-card-icon{
    position: absolute;
    font-size: 1.5rem;
    color: var(--body-color);;
    background-color: rgb(224, 224, 32);
    right: 0;
    bottom: 0;
    padding: .4rem;
    border-radius: 8px 0 0 0;
    cursor: pointer;
    transition: .3s;
}
.about-card-icon:hover {
background-color: var(--first-color-alt);
}
.about_img{
    border-radius: 10px 10px 10px 150px;
}
.about_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
/*-----------------Brand Section-----------*/
.brands_img{
    width: 70px;
    opacity: 0.4;
    transition: 0.3s;
}
.brands_container {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap:4rem ;
    padding-bottom: 2rem;
}
.brands_img:hover{
    opacity:1;
}

/*  why doperCars Section */
.why_container {
    padding: 1.5rem;
    background-color:rgb(18, 18, 44);;
}
.why_description{
    font-family: Berliana;
    font-size: var(--h1-font-size);
    color: var(--title-color);
}
.why_container span {
    color: var(--first-color);
}
/*---large devices*/
@media  screen and (min-width: 1040px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    

    .home_title{
        font-size: 2.5rem;
        line-height: auto;
        margin-bottom: 1rem;
    }
    .home_description{
        margin-bottom: 3rem;
    }
    .home-button{
        margin-bottom: 1.5rem;
    }
    .home_img{
        position: absolute;
        top: 27%;
        right: 1%;
       
       
        
    }
    .about_container{
      
        justify-items: center;
        gap: 0;
    }
    .about_data-card{
        width: 400px;
    }
    
       
    .nav_list{
        display: flex;
        text-align: center;
        column-gap: 3rem;
        padding-top: .5rem;
        flex-direction:row;
    }
    .nav_toggle {
        right: 5%;
        position: absolute;
}
}